.listUl {
    display: flex;
    margin: 0 auto;
    gap: 45px;
    margin-bottom: 70px;
}

.listLi {
    width: 335px;
    padding: 45px;
    border: 5px solid;
    border-color: black;
    border-radius: 3%;
}